<ion-view view-title="Selecione um Cartão">
    <ion-content>
         <label class="item item-input item-select">
            <div class="input-label" style="max-width:20%;">
                Cartão
            </div>
            <select style="min-width:80%;">
              <option> XXXX - XXXX - XXXX - 8019</option>
              <option selected>XXXX - XXXX - XXXX - 6302</option>
              <option> XXXX - XXXX - XXXX - 1616 </option>
            </select>
        </label>
        <div class="row">
            <div class="col col-66">
                <h4>Cadastre um novo Cartão</h4>
            </div>
        </div>
        <div class="list">
            <div class="row">
                <div class="col col-100">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Número do Cartão</span>
                        <input type="text" value="5148 - 9522 - 0133 - 4091">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nome</span>
                        <input type="text" value="João da Silva" >
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col col-66">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Data Val.</span></br>
                        <select >
                          <option> 01</option>
                          <option selected>02</option>
                          <option> 03 </option>
                          <option> 04 </option>
                          <option> 05 </option>
                          <option> 06 </option>
                          <option> 07 </option>
                          <option> 08 </option>
                          <option> 09 </option>
                          <option> 10 </option>
                          <option> 11 </option>
                          <option> 12 </option>
                        </select>
                        <select >
                          <option> 2015 </option>
                          <option selected> 2016 </option>
                          <option> 2017 </option>
                          <option> 2018 </option>
                          <option> 2019 </option>
                          <option> 2020 </option>
                          <option> 2021 </option>
                          <option> 2022 </option>
                          <option> 2023 </option>
                          <option> 2024 </option>
                          <option> 2025 </option>
                          <option> 2026 </option>
                        </select>
                    </label>
                </div>
                <div class="col col-33">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Cod. Seg.</span>
                        <input type="number" value="433">
                    </label>
                </div>
            </div>
            <li class="item item-toggle">
                Salvar Cartão
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <div class="row">
                <div class="col col-66">
                    <h5>Inf. Segurança</h5>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">CPF</span>
                        <input type="text" value="999.999.999-99">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Telefone</span>
                        <input type="text" value="(51) 9670-2408">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col col-10">

                    <button ui-sref="app.total" class="button button-outline button-small  button-assertive">
                        Confirmar
                    </button>
                </div>
            </div>
            </br>
        </div>
        
        </div>
    </ion-content>
</ion-view>
